    <table>
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Role</th>
                <th>Active</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let collaborator of list_collaborators">
                <td><img class="img__circle" src="https://robohash.org/+{{collaborator.username}}+.png"></td>
                <td>{{collaborator.username}}</td>
                <td>{{collaborator.role}}</td>
                <td>{{collaborator.active}}</td>
                <td>
                    <a [routerLink]="['/Home/DetailCollaborator', collaborator.id]"><i class="material-icons">mode_edit</i></a>
                </td>
                <td>
                    <button (click)="deleteCollaborator(collaborator)"><i class="material-icons">clear</i></button>
                </td>
            </tr>
        </tbody>
    </table>
<div class="row">
    <button md-fab [routerLink]="['../Register']"><i class="material-icons">add</i></button>
</div>