<div class="row">
    <div class="cl-title">
        <h2>Create a collaborator</h2>
    </div>
    <form class="form-horizontal" role="form" (ngSubmit)="createCollaborator(name.value, role.value)">
        <div class="field">
            <input class="field-input" type="text" #name placeholder="Name" required>
        </div>
        <div class="field">
            <select class="field-input" #role>
                <option value="" disabled="" selected="">Role</option>
                <option *ngFor="let role of list_roles" value="{{role.name}}">{{role.name}}</option>
            </select>
        </div>
        <button class="btn" type="submit">save</button>
    </form>
</div>