body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 912px;
    background: #FFF;
    color: #000;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 26px;
}

.row {
    margin: 0 !important;
}


/*
* HEADER *
*/

header {
    padding: 15px;
    min-height: 90px;
    background: #FF4411;
    color: #FFF;
    text-align: center;
}

header h1 {
    /*text-align: left;*/
}


/*
* LOGIN *
*/

.login {
    padding: 40px 0;
    text-align: center;
}

.login form {
    margin-top: 20px;
}
.login .form-group{
    margin-bottom: 30px;
}
.login form .form-control:focus {
    border-color: #FF4411 !important;
    box-shadow: none;
}

.login h2 {
    text-align: center;
    margin-top: 20px;
}

.login input {
    display: block;
    outline: none;
    border: 1px solid #888;
    border-radius: inherit;
    -webkit-appearance: none;
    appearance: none;
}

.login form .btn-primary {
    margin-bottom: 15px;
    border-color: #FF4411;
    border-radius: inherit;
    background-color: #FF4411;
    color: #FFFFFF;
    font-size: 18px;
}

.login form .btn-primary:hover,
.login form .btn-primary:focus,
.login form .btn-primary:active{
    outline: inherit;
    border-color: #FF4411;
    background-color: #FFF;
    box-shadow: none;
    color: #FF4411;
}



.clicked {
    color: #FF4411;
}

.margTopTab {
    margin-top: 40px;
}

.img {
    height: 90px;
    width: 78px;
}

.colorSogetiSecondary {
    background-color: #CCBBAA;
}

.textWhite {
    color: #FFFFFF;
}

.colorTextSogeti {
    color: #FF4411;
}

.navbar.navbar-static-top {
    background: #eee;
}

.section__home {
    margin-top: 200px;
    text-align: center;
    width: 100%;
    color: #000;
}

l p {
    color: red;
    font-size: 5px;
}

h1,
h2,
h3,
h4 {
    color: black;
}

.page-header {
    border-width: 1px;
    border-color: #FF4411;
    border-style: solid;
    border-collapse: separate;
    border-spacing: 1px;
    background-color: #FF4411;
    border-style: outset;
    border-bottom-width: 15px;
    background: -webkit-linear-gradient(left, #FF4411, #FFCCCC);
    /*Safari 5.1-6*/
    background: -o-linear-gradient(right, #FF4411, #FFCCCC);
    /*Opera 11.1-12*/
    background: -moz-linear-gradient(right, #FF4411, #FFCCCC);
    /*Fx 3.6-15*/
    background: linear-gradient(to right, #FF4411, #FFCCCC);
    /*Standard*/
    color: #FFFFFF;
    font-weight: bold;
    margin: 0px;
}

.form-signin-heading {
    text-align: center;
}

.langues {
    margin-top: 15%;
}

.nav navbar-nav {
    text-align: center;
}

.Res_soc {
    text-align: right;
}

#error {
    text-align: center;
    font-size: 20px;
    color: red;
}


/*img
{
max-width: 90px;
height: auto ;
}
*/

.jumbotron {
    border: 5px solid;
    border-radius: 10%;
    border-bottom: inherit;
    border-top: inherit;
    border-color: #008844 background-color: #CCBBAA;
    min-height: 500px;
}

h2 {
    text-align: center;
}

#projet1,
#projet2 {
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.disabled {
    background-color: red;
}


/*
* FOOTER *
*/

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    color: #000;
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
}
.footer__social{
    margin-bottom: 15px;
    font-size: 16px;
    margin-right: 20px;
}
.footer__social a{
    color: #FF4411;
    font-size: 20px;
}
.footer__social a:hover{
    color: #FF4411;
}
.footer__copyright{
    color: #666;
    font-size: 14px;
}
.footer__copyright a {
    text-decoration: none;
    color: #666;
}
.footer__copyright a:hover {
    color: #FF4411;
    text-decoration: none;
}


/*
* RESPONSIVE
*/

@media screen and (min-width: 480px) {
    .login {
        margin: 0 auto;
        max-width: 500px;
        width: 400px;
    }
}

@media screen and (max-width:480px) {
    header h1 {
        text-align: center;
        margin-left: inherit;
    }
}

@media screen and (max-width:768px) {
    header h1 {
        text-align: center;
        margin-left: inherit;
    }
}

@media only screen and (max-width:970px) {
    header h1 {
        text-align: center;
        margin-left: inherit;
    }
}