<div id="sidebar">
<nav class="sidebar" role="navigation">
    <ul class="nav">
        <li class="nav__profile">
            <img src="/assets/img/a4.jpg" alt="" class="img__circle">
            <h1>{{username}}</h1>
            <h2>Front-end Developer <i class="fa fa-angle-down" aria-hidden="true"></i></h2>
       
                <ul class="dropdown-menu hidden">
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="contacts.html">Contacts</a></li>
                    <li><a href="mailbox.html">Mailbox</a></li>
                    <li class="divider"></li>
                    <li><a (click)="logout()">Sign Out</a></li>
                </ul>
          
        </li>
        <li>
            <a [routerLink]="['Home']"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span></a>
        </li>
        <li>
            <a [routerLink]="['Projects']"><i class="fa fa-folder" aria-hidden="true"></i><span class="nav-label">Projects </span></a>
        </li>
        <li>
            <a [routerLink]="['Teams']"><i class="fa fa-users" aria-hidden="true"></i><span class="nav-label">Teams </span></a>
        </li>
        <li>
            <a href=""><i class="fa fa-users" aria-hidden="true"></i> Customers</a>
        </li>
        <li>
            <a href=""><i class="fa fa-cogs" aria-hidden="true"></i> Settings</a>
        </li>
        <li>
            <a href="mailto:chabox59@gmail.com"><i class="fa fa-comment-o" aria-hidden="true"></i> Feedbacks</a>
        </li>
        <li>
            <a><i class="fa fa-code-fork" aria-hidden="true"></i> Currently v1</a>
        </li>
        <li class="nav__copyright">
            Made with <i class="fa fa-heart" aria-hidden="true"></i> by <strong>clamarque</strong>
             <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-google-plus" arias-hidden="true"></i></a>
        </li>
    </ul>


</nav>
</div>
<div class="wrap">
    <router-outlet></router-outlet>
</div>