<div class="container">
    <div class="container__header">
        <h2>Create a member</h2>
    </div>
    <div class="project__content">
        <form class="form-horizontal" role="form" (ngSubmit)="createUser(username.value, role.value)">
            <div class="field">
                <input class="field-input" type="text" #username placeholder="Name" required>
            </div>
             <div class="field">
            <select class="field-input" #role>
                <option value="" disabled="" selected="">Role</option>
                <option value="Admin">Admin</option>
                <option value="Analyst">Analyst</option>
                <option value="Android developer">Android developer</option>
                <option value="Business Analyst">Business Analyst</option>
                <option value="Community Manager">Community Manager</option>
                <option value="Data Analyst">Data Analyst</option>
                <option value="Designer UI/UX">Designer UI/UX</option>
                <option value="iOS developer">iOS developer</option>
                <option value="IT project manager">IT project manager</option>
                <option value="Mobile developer">Mobile developer</option>  
                <option value="SAP consultant">SAP consultant</option>
                <option value="Software developer">Software developer</option>          
                <option value="Software engineer">Software engineer</option>
                <option value="Testing">Testing</option>
                <option value="Web developer">Web developer</option>
            </select>
        </div>
            <button class="btn" type="submit">save</button>
        </form>
    </div>
</div>