<div class="container">
    <div class="container__header">
        <h2>Members</h2>
    </div>
    <div id="Team__content">
        <table>
            <tbody>
                <tr *ngFor="let user of users_list">
                    <td class="card__img"><img src="https://robohash.org/+{{user.username}}+.png"></td>
                    <td>{{user.username}}</td>
                    <td>{{user.role}}</td>
                    <td><a class="btn" [routerLink]="['/Home/ViewUser', user.id]"><i class="fa fa-eye" aria-hidden="true"></i> view</a></td>
                    <td><button class="btn" (click)="deleteUser(user)"><i class="fa fa-times" aria-hidden="true"></i> delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <a class="btn-floating wave-effect" [routerLink]="['../CreateTeam']">+</a>
</div>