<div class="container">
    <div class="project__header">
        <h2>Teams</h2>
        <div class="project__header-actions">
            <button class="btn" [routerLink]="['CreateTeam']">Create</button>
        </div>
    </div>
    <div id="Team__content">
        <div class="col-3" *ngFor="let user of users_list">
            <div class="card">
                <div class="card__img">
                    <img src="/assets/img/a4.jpg">
                </div>
                <div class="card__content">
                    <span class="card__title">{{user.username}}</span>
                    <small class="card__date">{{user.role}}</small>
                </div>
                <div class="card__action">
                    <button class="btn" (click)="viewUser(user)"><i class="fa fa-eye" aria-hidden="true"></i> view</button>
                     <button class="btn" (click)="deleteUser(user)"><i class="fa fa-times" aria-hidden="true"></i> delete</button>
                </div>
            </div>
        </div>
    </div>
</div>