<div class="login">
        <img class="login__img" src="assets/img/C.png" alt="Clamarque">
        <h2>{{'generic.welcome-title' | translate}}</h2>
        <form class="form-signin" role="form" (ngSubmit)="login(email.value, password.value)">
            <div class="field">
                <input type="email" #email id="email" name="email" class="field-input" placeholder="Email" required>
            </div>
            <div class="field">
                <input type="password" #password id="password" class="field-input" placeholder="Password" required>
            </div>
            <button class="btn wave-effect" type="submit">{{'login.btn' | translate}}</button>            
            <div class="login__error">{{msg}}</div>
        </form>
</div>
