<div class="login">
        <img class="login__img" src="assets/img/C.png" alt="Clamarque">
        <h2>{{'generic.welcome-title' | translate}}</h2>
        <form role="form">
            <div class="field">
                <input [(ngModel)]="email" type="email" class="field-input" placeholder="Email" required>
            </div>
            <div class="field">
                <input [(ngModel)]="password" type="password" class="field-input" placeholder="Password" required>
            </div>
            <button class="btn wave-effect" (click)="login()">{{'login.btn' | translate}}</button>            
            <div class="login__error">{{msg}}</div>
        </form>
</div>


