<div class="container">
    <div class="project__header">
        <h2>Create a project</h2>
    </div>
    <div class="project__content">
        <form role="form" (ngSubmit)="CreateProject(name.value, description.value,date.value, member.value)">
            <div class="field">
                <input class="field-input" type="text" #name placeholder="Name" required>
            </div>
            <div class="field">
                <textarea class="field-input" #description rows="3" colomns="3" placeholder="Description"></textarea>
            </div>
            <div class="field">
                <input class="field-input" type="date" #date required>
            </div>
            <div class="field">
                <select class="field-input" #member >
                    <option value="" disabled="" selected="">Member</option>
                    <option *ngFor="let member of members_list" value="{{member.username}}">{{member.username}}</option>
                </select>
            </div>
            <button class="btn" type="submit">save</button>
        </form>
    </div>
</div>