<div class="container"  *ngIf="project">
    <form (ngSubmit)="SetProject(name.value, description.value,date.value,member.value)">
         <div class="field">
             <input class="field-input" type="text" #name placeholder="{{project.name}}" value="{{project.name}}">
         </div>
          <div class="field">
              <input class="field-input" type="text" #description value="{{project.description}}" >
          </div>
           <div class="field">
               <input class="field-input" type="date" #date value="{{project.date}}">
          </div>
          <div class="field">
              <input class="field-input" type="text" #member value="{{project.member}}">
          </div>
        <button class="btn" type="submit">save</button>
    </form>
    <button class="btn" (click)="deleteProject()">Delete</button>
    <!--
    <div class="project__header">
        <h2>{{project.name}}</h2>
        <div class="project__header-actions">
            <a class="btn" (click)="deleteProject()">delete</a>
        </div>
    </div>
    <div class="project__content">
        <div class="project-view__created">
            <p>Created by: {{username}}</p>
            <p>Client:</p>
            <p>Version:</p>
        </div>
        <div class="project-view__info">
            <p>Created: {{project.date}}</p>
            <p>Description: {{project.description}}</p>
        </div>

    </div>
    -->
</div>