<div class="row" *ngIf="customer">
    <form (ngSubmit)="onSubmit()">
        <md-checkbox type="checkbox" [(ngModel)]="customer.active" name="active">
            <label>Mission Active</label>
        </md-checkbox>
        <md-input type="text" class="field-input" [(ngModel)]="customer.name" name="name"></md-input>
        <div class="field">
            <select class="field-input" [(ngModel)]="customer.mission" name="mission">
                  <option [value]="customer.mission" selected="">{{customer.mission}}</option>
                  <option *ngFor="let mission of list_missions" value="{{mission.name}}">{{mission.name}}</option>
             </select>
        </div>
        <button md-raised-button color="primary" type="submit">{{'generic.btn-save' | translate}}</button>
        <button md-raised-button type="button" (click)="cancel()">{{'generic.btn-cancel' | translate}}</button>
    </form>
</div>