<div class="container">
    <div class="container__header">
        <h2>{{'project.subtitle' | translate}}</h2>
    </div>
    <table>
        <thead>
            <tr>
                <th>Name project</th>
                <th>Created</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let project of projects_list">
                <td>{{project.name}}</td>
                <td>{{project.date}}</td>
                <td><a [routerLink]="['/Home/ViewProject', project.id]"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
                <td><button (click)="deleteProject(project)"><i class="fa fa-times" aria-hidden="true"></i></button></td>
            </tr>
        </tbody>
    </table>
    <a class="btn-floating wave-effect" [routerLink]="['../CreateProject']">+</a>
</div>