<div class="container">
    <div class="project__header">
        <h2>{{'project.subtitle' | translate}}</h2>
        <div class="project__header-actions">
            <button class="btn" [routerLink]="['CreateProject']">Create</button>
        </div>
    </div>
    <div id="project__content">
        <div class="col-3" *ngFor="let project of projects_list">
            <div class="card">
                <div class="card__img">
                    <img src="/assets/img/office.jpg">
                </div>
                <div class="card__content">
                    <span class="card__title">{{project.name}}</span>
                    <small class="card__date">Created {{project.date}}</small>
                </div>
                <div class="card__action">
                    <button class="btn" (click)="viewProject(project)"><i class="fa fa-eye" aria-hidden="true"></i> view</button>
                    <button class="btn" (click)="deleteProject(project)"><i class="fa fa-times" aria-hidden="true"></i> delete</button>
                </div>
            </div>
        </div>
    </div>
</div>