<div class="row" *ngIf="project">
    <div class="cl-title">
        <h2>{{'project.title-edit' | translate}}</h2>
    </div>
    <form (ngSubmit)="setProject(name.value, description.value,date.value,member.value)">
        <div class="field">
            <input class="field-input" type="text" #name placeholder="{{project.name}}" value="{{project.name}}">
        </div>
        <div class="field">
            <input class="field-input" type="text" #description value="{{project.description}}">
        </div>
        <div class="field">
            <input class="field-input" type="date" #date value="{{project.date}}">
        </div>
        <div class="field">
            <select class="field-input" #member>
                <option value="{{project.member}}" selected="">{{project.member}}</option>
                <option *ngFor="let user of users" value="{{user.name}}">{{user.name}}</option>
            </select>
        </div>
        <button class="btn" type="submit">{{'generic.btn-save' | translate}}</button>
        <button class="btn" (click)="deleteProject()">{{'generic.btn-delete' | translate}}</button>
    </form>
</div>