<div class="row">
    <div class="cl-title">
        <h2>{{'project.title' | translate}}</h2>
    </div>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>{{'project.table-name' | translate}}</th>
                <th>{{'project.table-date' | translate}}</th>
                <th>{{'generic.table-edit' | translate}}</th>
                <th>{{'generic.table-delete' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let project of projects_list">
                <td><img class="img__circle" src="https://robohash.org/+{{project.name}}+.png"></td>
                <td>{{project.name}}</td>
                <td>{{project.date}}</td>
                <td><a [routerLink]="['/Home/ViewProject', project.id]"><i class="fa fa-pencil fa-1x" aria-hidden="true"></i></a></td>
                <td><button (click)="deleteProject(project)"><i class="fa fa-times" aria-hidden="true"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <a class="btn-floating wave-effect" [routerLink]="['../CreateProject']">+</a>
</div>