<div class="row">
    <div class="cl-title">
        <h2>Settings</h2>
    </div>
    <table>
        <tbody>
            <tr>
                <td>Language</td>
                <td>
                    <div class="switch">
                        <label>EN
                            <input checked="checked" type="checkbox" [ngFormControl]="language" (change)="changeLanguage(language.value)"><span class="lever"></span> FR </label>
                    </div>
                </td>
            </tr>

        </tbody>
    </table>
</div>