<div class="row">
    <div class="cl-title">
        <h2>Create a customer</h2>
    </div>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="field">
            <input type="text"  class="field-input" placeholder="Name" required [(ngModel)]="name" name="name">
        </div>
        <div class="field">
            <select class="field-input" [(ngModel)]="mission" name="mission">
                    <option [value]="mission" disabled="" selected="">Mission:</option>
                    <option *ngFor="let mission of list_missions" value="{{mission.name}}">{{mission.name}}</option>
                </select>
        </div>
        <button class="btn" type="submit">save</button>
    </form>
</div>