<div class="row">
    <div class="cl-title">
        <h2>Members</h2>
    </div>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Username</th>
                <th>Role</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users_list">
                <td><img class="img__circle" src="https://robohash.org/+{{user.username}}+.png"></td>
                <td>{{user.username}}</td>
                <td>{{user.role}}</td>
                <td>
                    <a [routerLink]="['/Home/ViewMember', user.id]"><i class="fa fa-pencil fa-1x" aria-hidden="true"></i></a>
                </td>
                <td>
                    <button (click)="deleteUser(user)"><i class="fa fa-times fa-1x" aria-hidden="true"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <a class="btn-floating wave-effect" [routerLink]="['../CreateMember']">+</a>
</div>