<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 sidebar">
        <nav class="" role="navigation" id="navigation">
            <ul class="nav">
                <li class="nav__profile">
                    <img class="cl-circle" src="https://robohash.org/+{{username}}+.png" alt="profil">
                    <h1>{{username}}</h1>
                </li>
                <li>
                    <a [routerLink]="['/Home']"><i class="fa fa-th-large"></i>{{'index.Dashboard' | translate}}</a>
                </li>
                <li *ngIf="!infos.admin">
                    <a [routerLink]="['/Home']"><i class="fa fa-th-large"></i>Profil</a>
                </li>
                <li *ngIf="infos.admin">
                    <a [routerLink]="['Customer']"><i class="fa fa-users" aria-hidden="true"></i>{{'index.Customer' | translate}}</a>
                </li>
                <li *ngIf="infos.admin">
                    <a [routerLink]="['Collaborator']"><i class="fa fa-users" aria-hidden="true"></i>{{'index.Consultant' | translate}}</a>
                </li>
                <li *ngIf="infos.admin">
                    <a [routerLink]="['Role']"><i class="fa fa-users" aria-hidden="true"></i>Role</a>
                </li>
                <li *ngIf="infos.admin">
                    <a [routerLink]="['Mission']"><i class="fa fa-folder" aria-hidden="true"></i>{{'index.Mission' | translate}}</a>
                </li>
                <li *ngIf="infos.admin">
                    <a [routerLink]="['Skill']"><i class="fa fa-list" aria-hidden="true"></i>{{'index.Skill' | translate}}</a>
                </li>
                <li>
                    <a [routerLink]="['Setting']"><i class="fa fa-cogs" aria-hidden="true"></i>{{'index.Setting' | translate}}</a>
                </li>
                <li>
                    <a (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i>{{'index.Sign-out' | translate}}</a>
                </li>
                <li>
                    <a href="mailto:chabox59@gmail.com"><i class="fa fa-comment-o" aria-hidden="true"></i> Feedbacks</a>
                </li>
                <li>
                    <a><i class="fa fa-code-fork" aria-hidden="true"></i> Currently v-0.2</a>
                </li>
                <li class="nav__copyright">
                    Made with <i class="fa fa-heart" aria-hidden="true"></i> by <strong>clamarque</strong>
                </li>
                <li class="nav__copyright">
                    <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-google-plus" arias-hidden="true"></i></a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-10">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <div class="cl-home__item">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <h3>
                        <span>{{customersCount}}</span>
                        <small>Customers</small>
                    </h3>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="cl-home__item">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <h3>
                        <span>{{usersCount}}</span>
                        <small>Consultants</small>
                    </h3>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="cl-home__item">
                    <i class="fa fa-folder-open" aria-hidden="true"></i>
                    <h3>
                        <span>{{missionsCount}}</span>
                        <small>Missions</small>
                    </h3>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class=" cl-home__item ">
                    <i class="fa fa-clock-o " aria-hidden="true "></i>
                    <h3>
                        <span>{{date | date:'dd MM yy HH:mm'}}</span>
                    </h3>
                </div>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>