<md-sidenav-layout class="demo-sidenav-layout">
    <md-sidenav #end align="start" mode="push">
        <div class="cl-user__details">
            <div class="cl-user__photo">
                <img alt="profil" class="cl-circle" src="https://robohash.org/++.png">
            </div>
            <div class="cl-user__info">
                <p>{{first}} {{last}}</p>
                <p>{{email}}</p>
            </div>
        </div>
        <nav class="" id="navigation" role="navigation">
            <ul class="nav">
                <li>
                    <a [routerLink]="['/Home']" (click)="end.close()"><i class="material-icons">home</i><span>{{'index.Dashboard' | translate}}</span></a>
                </li>
                <li>
                    <a [routerLink]="['Collaborator']" (click)="end.close()"><i class="material-icons">group</i><span>{{'index.Consultant' | translate}}</span></a>
                </li>
                <li>
                    <a [routerLink]="['Customer']" (click)="end.close()"><i class="material-icons">group</i><span>{{'index.Customer' | translate}}</span></a>
                </li>
                <li>
                    <a [routerLink]="['Mission']" (click)="end.close()"> <i class="material-icons">assignment_ind</i><span>{{'index.Mission' | translate}}</span></a>
                </li>
                <li>
                    <a [routerLink]="['Role']" (click)="end.close()"><i class="material-icons">school</i><span>Role</span></a>
                </li>
                <li>
                    <a [routerLink]="['Skill']" (click)="end.close()"><i class="material-icons">format_align_left</i><span>{{'index.Skill' | translate}}</span></a>
                </li>
                <li>
                    <a [routerLink]="['Setting']" (click)="end.close()"><i class="material-icons">settings</i><span>{{'index.Setting' | translate}}</span></a>
                </li>
                <li>
                    <a (click)="onSignOut()"><i class="material-icons">exit_to_app</i><span>{{'index.Sign-out' | translate}}</span></a>
                </li>
                <li>
                    <a href="mailto:chabox59@gmail.com"><i class="material-icons">bug_report</i><span>Feedbacks</span></a>
                </li>
                <li>
                    <a><i class="material-icons">new_releases</i><span>Currently v-0.3.0</span></a>
                </li>
                <li>
                    <a>Made with <i class="material-icons">favorite</i> by <strong>clamarque</strong></a>
                </li>
            </ul>
        </nav>
    </md-sidenav>
    <md-toolbar color="primary">
        <button class="app-icon-button" (click)="end.toggle()">
            <i class="material-icons app-toolbar-menu">menu</i>
            </button> Angular Dashboard <i class="material-icons">keyboard_arrow_right</i> {{title}}
        <span class="app-toolbar-filler"></span>
    </md-toolbar>
    <div class="app-content">
        <router-outlet></router-outlet>
    </div>
</md-sidenav-layout>