body,
html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
    color: #424242;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 26px;
}
/*
* COMMON *
*/
home {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    align-items: stretch;
}

[class*="col-xs-"],
[class*="col-md-"]{
    /*padding: 0; */
}

[class*="row"]{
    margin: 0;
    padding: 6px 12px;
    text-align: center;
}

a {
    color: #F44336;
    text-decoration: none;
}



/*
* image *
*/

.cl-circle {
    border-radius: 50%;
    border: 2px solid #FFF;
    width: 100%;
    height: auto;
}

/*
* title *
*/

.cl-title {
    margin-bottom: 15px;
}
.cl-title h2 {
    color: #F44336;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 16px;
    line-height: 5px;
}

/*
* button *
*/

.btn {
    padding: 0 16px;
    min-width: 88px;
    height: 36px;
    border: none;
    border-radius: 2px;
    background-color: #F44336;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.btn:hover,
.btn:focus,
.btn:active {
    outline: none;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    color: #FFF;
    text-decoration: none;
}
a.btn-floating:before {
    content: '+';
    color: #FFF;
    position: absolute;
    top: 15px;
    left: 21px;
}
.btn-floating {
    border-radius: 50%;
    border: none;
    outline: none;
    width: 56px;
    height: 56px;
    font-size: 24px;
    color: transparent;
    background: #F44336;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.wave-effect {
    position: relative;
    z-index: 1;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.wave {
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.25);
    opacity: 1;
    transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), opacity 2s cubic-bezier(0.23, 1, 0.32, 1);
    transform: scale(0);
    pointer-events: none;
}

/*
** INPUT **
*/

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: transparent !important;
}
input[type="checkbox"] {
    width: 16px;
    height: 16px;
    outline:0;
    border: 1px solid #F44336;
    border-radius: 50%;
    -webkit-appearance: none;
    vertical-align: middle;
}

input[type="checkbox"]:checked {
    background: #F44336;
}

input[type="radio"]:not(:checked){
    background: transparent;
}
textarea {
    overflow-y: hidden;
    resize: none;
    min-height: 3rem;
}

/*
* FORM *
*/
form {
    width: 100%
}

.field {
    position: relative;
    height: 72px;
    padding: 16px 0 8px 0;
}

.field-label {
    display: none;
    position: relative;
    margin: 0;
    display: block;
    color: #9E9E9E;
    line-height: 16px;
    font-size: 16px;
    font-weight: 400;
    -webkit-transform: translateY(24px);
    -ms-transform: translateY(24px);
    transform: translateY(24px);
    -webkit-transition: -webkit-transform 0.3s, color 0.3s;
    transition: transform 0.3s, color 0.3s;
    -webkit-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;
    text-align: left;
}

.field-input {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding: 8px 0;
    line-height: 16px;
    font-family: Roboto;
    font-size: 16px;
    background: transparent;
    border: none;
    outline: none;
    color: #F44336;
}

.field::after,
.field::before {
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 30px;
    left: 0;
    background-color: #BDBDBD;
}

.field::after {
    background-color: #F44336;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}


/* Field is activated
   ========================================================================== */

.has-label .field-label {
    -webkit-transform: translateY(0) scale(0.75);
    -ms-transform: translateY(0) scale(0.75);
    transform: translateY(0) scale(0.75);
}


/* Field is focused
   ========================================================================== */

.is-focused .field-label {
    color: #F44336;
}

.field.is-focused::after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}


.switch label .lever {
    content: "";
    display: inline-block;
    position: relative;
    width: 40px;
    height: 15px;
    background-color: #BDBDBD;
    border-radius: 15px;
    margin-right: 10px;
    transition: background 0.3s ease;
    vertical-align: middle;
    margin: 0 16px;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #FF7043;
}
.switch label [type="checkbox"]:not(:checked),
.switch label [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
    opacity: 0;
}
.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #FF5722;
    left: 24px;
}
.switch label .lever:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 21px;
    height: 21px;
    background-color: #E0E0E0;
    border-radius: 21px;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,0.4);
    left: -5px;
    top: -3px;
    transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease;
}

/*
* HEADER *
*/

.sidebar {
    background-color: #424242;
    min-height: 100%;
    overflow: hidden;
    padding: 0;
    /*position: fixed;
    */
}

.sidebar ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.sidebar li {
    padding: 1rem 1rem;
    min-height: 32px;
}
.sidebar li:hover {
    background: #9E9E9E;
}
.sidebar li:nth-child(9):hover{
    background: #F44336;
}

.sidebar li a {
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
    padding: 0 16px;
}

.nav > li > a i {
    margin-right: 6px;
}

.subnav > li > a {
    padding: 7px 10px 7px 10px;
    padding-left: 52px;
}

.nav__profile {
    background: #FF7043;
    text-align: center;
    color: #FFF;
}

.nav__profile h1 {
    font-size: 12px;
    font-weight: normal;
    overflow: hidden;
}

.nav__profile h2 {
    font-size: 14px;
}

.nav__copyright {
    color: #FFF;
    text-align: center;
}

.nav__copyright a {
    padding: 13px !important;
    display: inline-block;
}

header {
    padding: 15px;
    min-height: 90px;
    background: #F44336;
    color: #FFF;
    text-align: center;
}

header img {
    margin: 0 auto
}


/*
* BOOTSTRAP *
*/

#container__spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    color: #F44336;
}

.spinner__icon {
    margin: auto auto 5px;
}

.spinner__txt {
    margin: 5px auto auto;
}


/*
* LOGIN *
*/

.login {
    padding: 40px 0;
    text-align: center;
    height: auto;
}

.login form {
    margin-top: 20px;
}

form .form-control:focus {
    border-color: #F44336 !important;
    box-shadow: none;
}

.login h2 {
    margin-top: 20px;
    color: #FFF;
    text-align: center;
}

.login .btn {
    margin-bottom: 15px;
    width: 100%;
    border: 1px solid #F44336;
    background-color: #F44336;
    color: #FFF;
    font-size: 18px;
}

.login__img {
    width: 200px;
    height: 200px;
}

.login__error {
    color: #F44336;
    letter-spacing: 1px;
    margin: 10px;
    font-size: 18px;
}

/*
* TEAMS | mission | CUSTOMER
*/
home-index .row:first-child {
    padding: 0;
    text-align: initial;
}

home-index .row:nth-child(4),
role-index .row:nth-child(2),
skill-index .row:nth-child(2),
customer-index .row:nth-child(2),
mission-index .row:nth-child(2),
collaborator-index .row:nth-child(2) {
    position: relative;
    margin-top: 100px;
}
home-index .btn-floating,
role-index .btn-floating,
skill-index .btn-floating,
customer-index .btn-floating,
collaborator-index .btn-floating,
mission-index .btn-floating{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 20px;
}
home-index a,
home-index button,
role-index a,
role-index button,
skill-index a,
skill-index button,
customer-index a,
customer-index button,
mission-index a,
mission-index button,
collaborator-index a,
collaborator-index button {
    border: none;
    background: transparent;
    color: #F44336;
    cursor: pointer;
}


customer-index img,
collaborator-index img {
    width: 60px !important;
}

table {
    width: 100%;
    font-size: 13px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2),0 1px 1px 0 rgba(0,0,0,0.14),0 2px 1px -1px rgba(0,0,0,0.12);
}
th {
    height: 56px;
    color: rgba(0,0,0,.54);
    padding: 0 56px 0 24px;
    text-align: left;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);

}

tr {
    height: 48px;
}
tr:last-child td {
    border-bottom: none;
}

td {
    padding: 0 56px 0 24px;
    height: 48px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

}

td:nth-child(2) {
    color: #F44336;
    text-transform: uppercase;
}

.col-3,
.col-lg-4 {
    padding: 15px;
}
/*
* home-index *
*/
.col-md-3:nth-child(4) .cl-home__item {
    background-color: #FF7043;
}
.col-md-3:nth-child(4) .cl-home__item h3 {
    
}
.cl-home__item {
    position: relative;
    overflow: hidden;
    padding: 30px 20px;
    min-width: 180px;
    margin: 30px;
    border-radius: 2px;
    background-color: #424242;
}
.cl-home__item > .fa {
    position: absolute;
    bottom: -20%;
    left: -5%;
    font-size: 100px;
    color: rgba(255, 255, 255, 0.15);
}
.cl-home__item h3 {
    margin: 0;
    text-align: right;
    font-size: 36px;
    color: white;
}
.cl-home__item h3 > small {
    display: block;
    font-size: 17px;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.7);
}

/*
* RESPONSIVE
*/

@media screen and (min-width: 480px) {
    .login {
        margin: 40px auto;
        max-width: 500px;
        width: 400px;
    }
}

@media screen and (max-width:480px) {
    header h1 {
        text-align: center;
        margin-left: inherit;
    }
    .login {
        width: 50vw;
        margin: 0 auto;
    }
    .login__img {
        width: 100px;
        height: 100px;
    }
    .container{
        padding: 0px;
    }
    table{
        box-shadow: none;
    }
    table th,
    table td {
        padding: 0;
    }
}

@media (min-width: 768px) {
 
}

@media screen and (max-width:768px) {
   
    .sidebar ul li:nth-child(n+2) {
       /* display: none;*/
    }
    
    header h1 {
        text-align: center;
        margin-left: inherit;
    }
    home {
        display: block;
    }
    .container {
        margin-top: 0;
    }
    .flex-container{
        display: block;
    }
    th:nth-child(4n-7), 
    td:nth-child(4n-7) {
        display: none;
    }
}

@media only screen and (max-width:970px) {
    header h1 {
        text-align: center;
        margin-left: inherit;
    }
}

@media (min-width: 1200px) {
 
}