body,
html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
    color: #424242;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 26px;
}


/*
* COMMON *
*/

a {
    color: rgb(255,87,34);
    text-decoration: none;
}


/*
* image *
*/

.cl-circle {
    width: 100%;
    height: auto;
    border: 2px solid #FFF;
    border-radius: 50%;
}


/*
* title *
*/


h4 {
    font-size: 18px;
    color: #505458;
}

/*
* BOOTSTRAP *
*/

#container__spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    color: #F44336;
}

.spinner__icon {
    margin: auto auto 5px;
}

.spinner__txt {
    margin: 5px auto auto;
}

/*
* LOGIN *
*/

.login {
    padding: 40px 0;
    text-align: center;
    height: auto;
}

.login form {
    margin-top: 20px;
}

form .form-control:focus {
    border-color: #F44336 !important;
    box-shadow: none;
}

.login h2 {
    margin-top: 20px;
    color: #FFF;
    text-align: center;
}

.login .btn {
    margin-bottom: 15px;
    width: 100%;
    border: 1px solid #F44336;
    background-color: #F44336;
    color: #FFF;
    font-size: 18px;
}

.login__img {
    width: 200px;
    height: 200px;
}

.login__error {
    margin: 10px;
    color: #F44336;
    letter-spacing: 1px;
    font-size: 18px;
}


/*
* TEAMS | mission | CUSTOMER
*/


home-index .row:nth-child(4),
role-list .row:nth-child(2),
skill-list .row:nth-child(2),
customer-list .row:nth-child(2),
mission-list .row:nth-child(2),
collaborator-list .row:nth-child(2) {
    position: relative;
    margin-top: 100px;
}

home-index .btn-floating,
role-list .btn-floating,
skill-list .btn-floating,
customer-list .btn-floating,
collaborator-list .btn-floating,
mission-list .btn-floating {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 20px;
}

home-index a,
home-index button,
role-list a,
role-list button,
skill-list a,
skill-list button,
customer-list a,
customer-list button,
mission-list a,
mission-list button,
collaborator-list a,
collaborator-list button {
    border: none;
    background: transparent;
    color: rgb(255,87,34);
    cursor: pointer;
    outline: 0;
}



customer-list img,
collaborator-list img {
    width: 60px !important;
}

table {
    width: 100%;
    border-spacing: 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    font-size: 13px;
}

th {
    padding: 0 56px 0 24px;
    height: 56px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, .54);
    text-align: left;
    font-weight: 500;
}

tbody > tr:hover {
    background-color: #EEE;
}

tr {
    height: 48px;
}

tr:last-child td {
    border-bottom: none;
}

td {
    padding: 0 56px 0 24px;
    height: 48px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

td:nth-child(2) {
    color: #F44336;
    text-transform: uppercase;
}


/*
* home-index *
*/


.card-banner-header {
    padding: 12px;
    background: #424242;
    color: #FFF;
}

.card-content {
    min-height: 120px;
    padding: 16px;
}

.card-content h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
}

.card-content p {
    color: rgba(0, 0, 0, 0.54);
    font-size: 13px;
    line-height: 20px;
}

.card-link {
    padding: 4px 4px 4px 16px;
    min-height: 44px;
}

.card-link a {
    font-size: 14px;
    line-height: 20px;
    padding: 8px 0;
}

.col-md-3:nth-child(4) .cl-home__item {
    background-color: #FF7043;
}

.cl-home__item {
    position: relative;
    overflow: hidden;
    margin: 20px 0 50px;
    padding: 30px 20px;
    border-radius: 2px;
    background-color: #424242;
}

.cl-home__item > .fa {
    position: absolute;
    bottom: -20%;
    left: -5%;
    color: rgba(255, 255, 255, 0.15);
    font-size: 100px;
}

.cl-home__item h3 {
    margin: 0;
    text-align: right;
    font-size: 36px;
    color: white;
}

.cl-home__item h3 > small {
    display: block;
    font-size: 17px;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.7);
}


/*
* RESPONSIVE
*/

@media screen and (min-width: 480px) {
    .login {
        margin: 40px auto;
        max-width: 500px;
        width: 400px;
    }
}

@media screen and (max-width:480px) {
    header h1 {
        text-align: center;
        margin-left: inherit;
    }
    .login {
        width: 50vw;
        margin: 0 auto;
    }
    .login__img {
        width: 100px;
        height: 100px;
    }
    .container {
        padding: 0px;
    }
    table {
        box-shadow: none;
    }
    table th,
    table td {
        padding: 0;
    }
}

@media (min-width: 768px) {}

@media screen and (max-width:768px) {
    .sidebar ul li:nth-child(n+2) {
        /* display: none;*/
    }
    header h1 {
        text-align: center;
        margin-left: inherit;
    }
    home {
        display: block;
    }
    .container {
        margin-top: 0;
    }
    .flex-container {
        display: block;
    }
    th:nth-child(4n-7),
    td:nth-child(4n-7) {
        display: none;
    }
}

@media only screen and (max-width:970px) {
    header h1 {
        text-align: center;
        margin-left: inherit;
    }
}

@media (min-width: 1200px) {}

/* 
* NEW CSS 03/08/2016 *
*/

/* NAVIGATION */

.mdl-navigation > a {
    font-weight: 500;
}
.mdl-navigation > a > span {
    margin-left: 24px;
    color: #37474F;
}
.mdl-navigation > a:nth-child(11) {
    padding: 16px;
    text-align: center;
}
.mdl-navigation > a:nth-child(11) > i {
    vertical-align: middle;
}
.mdl-navigation__link:hover a {
    color: rgb(255,87,34);
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    padding: 16px;
}


.cl-header {
    background-image: url(http://moltran.coderthemes.com/dark_2/assets/images/big/bg.jpg);
    background-size: cover;
    color: #FFF;
    text-align: center;
    height: 151px;
}

.cl-header h1 {
    overflow: hidden;
    padding-bottom: 20px;
    font-weight: normal;
    font-size: 20px;
}

.cl-header__avatar {
    margin-bottom: 16px;
    padding: 24px 24px 0 24px;
    text-align: left;
}

.cl-header__avatar img {
  width: 72px;
  height: 72px;
}

.cl-header__info {
    padding: 8px 24px;
    min-height: 56px;
    text-align: left;
    font-size: 14px;
    line-height: 8px;
}

.cl-header__info p:first-child {
    font-weight: 500;
}

/* RIGHT CONTAINER */

.cl-content {
  max-width: 1080px;
}

.demo-header.mdl-layout__header i {
    color: #FFF;
}

/* input */
md-input {
    display: block !important;
    margin: 20px 0;
}
.md-input-wrapper {
    margin: 20px 0 !important;
}
.md-input-underline {
    margin-top: 10px !important;
}


.cl-user__details {
    background-image: url(http://moltran.coderthemes.com/dark_2/assets/images/big/bg.jpg);
    background-size: cover;
    color: #FFF;
    text-align: center;
}
.cl-user__photo {
    padding: 24px 24px 0 24px;
    text-align: left;
}
.cl-user__photo img {
    width: 72px;
    height: 72px;
}
.cl-user__info {
    padding: 8px 24px;
    min-height: 56px;
    text-align: left;
    font-size: 14px;
    line-height: 8px;
}
.cl-user__info p:first-child {
    font-weight: 500;
}
    margin: 0;
    padding-left: 0;
    list-style: none;
    text-align: left;
}
    padding: 8px 24px;
    min-height: 48px;
    line-height: 48px;
}
    background: #EEEEEE;
}
    color: #37474F;
    font-weight: 500;
}
    margin-left: 24px;
}
i.material-icons {
    vertical-align: middle;
}
.app-content {
    padding: 20px;
}
md-toolbar i {
    color: #FFF;
}
.md-input-placeholder.md-focused {
    color: rgb(255,87,34) !important;
}
button.md-primary, 
.md-checkbox-checked .md-checkbox-background,
md-toolbar.md-primary,
[md-fab], .md-input-ripple {
    background: rgb(255,87,34) !important;
    
}
.cl-form__profil {
    display: block;
    margin: 0 auto;
    border: 1px solid #EEE;
    border-radius: 50%;
}
/*
* OLD INPUT *
*/
.field {
    position: relative;
    padding: 16px 0 8px 0;
    height: 72px;
    text-align: left;
}
.field::after, .field::before {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #BDBDBD;
    content: '';
}
.field-input {
    position: relative;
    display: block;
    padding: 8px 0;
    width: 100%;
    height: auto;
    outline: none;
    border: none;
    background: transparent;
    color: #F44336;
    font-size: 16px;
    font-family: Roboto;
    line-height: 16px;
}


/*
* SETTING *
*/
.switch label .lever {
     content: "";
     display: inline-block;
     position: relative;
     width: 40px;
     height: 15px;
     background-color: #BDBDBD;
     border-radius: 15px;
     margin-right: 10px;
     transition: background 0.3s ease;
     vertical-align: middle;
     margin: 0 16px;
}
.switch label input[type=checkbox]:checked+.lever {
     background-color: #FF7043;
 }

 .switch label [type="checkbox"]:not(:checked),
 .switch label [type="checkbox"]:checked {
   position: absolute;
   left: -9999px;
     opacity: 0;
 }
 .switch label input[type=checkbox]:checked+.lever:after {
     background-color: #FF5722;
     left: 24px;
 }
 .switch label .lever:after {
     content: "";
     position: absolute;
     display: inline-block;
    width: 21px;
     height: 21px;
     background-color: #E0E0E0;
     border-radius: 21px;
     box-shadow: 0 1px 3px 1px rgba(0,0,0,0.4);
     left: -5px;
     top: -3px;
     transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease;
 }