<div class="row">
    <div class="cl-title">
        <h2>{{'project.title' | translate}}</h2>
    </div>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>{{'project.table-name' | translate}}</th>
                <th>Active</th>
                <th>{{'generic.table-edit' | translate}}</th>
                <th>{{'generic.table-delete' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let mission of list_missions; let i=index">
                <td>{{i}}</td>
                <td>{{mission.name}}</td>
                <td>{{mission.active}}</td>
                <td><a [routerLink]="['/Home/DetailMission', mission.id]"><i class="fa fa-pencil fa-1x" aria-hidden="true"></i></a></td>
                <td><button (click)="deleteMission(mission)"><i class="fa fa-times" aria-hidden="true"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <a class="btn-floating wave-effect" [routerLink]="['../CreateMission']">+</a>
</div>