<div class="row">
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>{{'project.table-name' | translate}}</th>
                <th>Active</th>
                <th>{{'generic.table-edit' | translate}}</th>
                <th>{{'generic.table-delete' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let mission of list_missions; let i=index">
                <td>{{i}}</td>
                <td>{{mission.name}}</td>
                <td>{{mission.active}}</td>
                <td><a [routerLink]="['/Home/DetailMission', mission.id]"><i class="material-icons">mode_edit</i></a></td>
                <td><button (click)="deleteMission(mission)"><i class="material-icons">clear</i></button></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <button md-fab [routerLink]="['../CreateMission']"><i class="material-icons">add</i></button>
</div>