<div class="login">
    <h2>Reset your Password</h2>
    <form>
        <md-card>
            <md-input [(ngModel)]="email" name="email" type="text" placeholder="Email" required></md-input>
            <button md-raised-button color="primary" type="submit" (click)="onClickResetPassword()">
            <span class="fa-icon-label">Send Password Reset Email</span>
        </button>
            <button md-raised-button type="button" (click)="cancel()">{{'generic.btn-cancel' | translate}}</button>
        </md-card>
    </form>
</div>