body,
html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #3C3C43;
    color: #000;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 26px;
}

home {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    align-items: stretch;
}

a {
    color: #FF5A4E;
    text-decoration: none;
}

.row {
    margin: 0 !important;
}

.hidden {
    display: none;
}

.img__circle {
    border-radius: 50%;
}

.title {
    padding: 0 10px 20px 10px;
    font-weight: 100;
    font-size: 24px;
}


/*
* BUTTON *
*/

.btn {
    padding: 0 16px;
    min-width: 88px;
    height: 36px;
    border: none;
    border-radius: 2px;
    background-color: #FF4411;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.btn:hover,
.btn:focus,
.btn:active {
    outline: none;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    color: #FFF !important;
    text-decoration: none;
}

.btn-floating {
    border-radius: 50%;
    border: none;
    outline: none;
    width: 56px;
    height: 56px;
    font-size: 24px;
    color: #FFF;
    background: #FF5A4E;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.wave-effect {
    position: relative;
    z-index: 1;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.wave {
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.25);
    opacity: 1;
    transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), opacity 2s cubic-bezier(0.23, 1, 0.32, 1);
    transform: scale(0);
    pointer-events: none;
}

/*
** INPUT **
*/

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: transparent !important;
}
input[type="checkbox"] {
    width: 16px;
    height: 16px;
    outline:0;
    border: 1px solid #FF5A4E;
    border-radius: 50%;
    -webkit-appearance: none;
}

input[type="checkbox"]:checked {
    background: #FF5A4E;
}

input[type="radio"]:not(:checked){
    background: transparent;
}
textarea {
    overflow-y: hidden;
    resize: none;
    min-height: 3rem;
}

/*
* FORM *
*/

.field {
    position: relative;
    height: 72px;
    padding: 16px 0 8px 0;
}

.field-label {
    display: none;
    position: relative;
    margin: 0;
    display: block;
    color: #EEE;
    line-height: 16px;
    font-size: 16px;
    font-weight: 400;
    -webkit-transform: translateY(24px);
    -ms-transform: translateY(24px);
    transform: translateY(24px);
    -webkit-transition: -webkit-transform 0.3s, color 0.3s;
    transition: transform 0.3s, color 0.3s;
    -webkit-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;
    text-align: left;
}

.field-input {
    position: relative;
    display: block;
    width: 100%;
    height: 32px;
    padding: 8px 0;
    line-height: 16px;
    font-family: Roboto;
    font-size: 16px;
    background: transparent;
    border: none;
    outline: none;
    color: #FF5A4E;
}

.field::after,
.field::before {
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 30px;
    left: 0;
    background-color: #EEE;
}

.field::after {
    background-color: #FF5A4E;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}


/* Field is activated
   ========================================================================== */

.has-label .field-label {
    -webkit-transform: translateY(0) scale(0.75);
    -ms-transform: translateY(0) scale(0.75);
    transform: translateY(0) scale(0.75);
}


/* Field is focused
   ========================================================================== */

.is-focused .field-label {
    color: #FF5A4E;
}

.field.is-focused::after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}


.switch label .lever {
    content: "";
    display: inline-block;
    position: relative;
    width: 40px;
    height: 15px;
    background-color: #818181;
    border-radius: 15px;
    margin-right: 10px;
    transition: background 0.3s ease;
    vertical-align: middle;
    margin: 0 16px;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #84c7c1;
}
.switch label [type="checkbox"]:not(:checked),
.switch label [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
    opacity: 0;
}
.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #26a69a;
    left: 24px;
}
.switch label .lever:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 21px;
    height: 21px;
    background-color: #F1F1F1;
    border-radius: 21px;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,0.4);
    left: -5px;
    top: -3px;
    transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease;
}


/*
* CONTAINER GLOBALE*
*/

.wrap {
    position: relative;
    padding: 0 15px;
    width: 100%;
    height: auto;
    background: #FFF;
}

.container {
    position:relative;
    display: block;
    margin-top: 3rem;
    padding: 6px 12px;
    text-align: center;
}

.container__header {
    margin-bottom: 15px;
    padding: 0 15px 50px;
    border-bottom: 1px solid #777;
}
.container__header h2 {
    float: left;
    color: #FF4411;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 16px;
    line-height: 5px;
}


/*
* HEADER *
*/

#sidebar {
    flex: 0 0 217px;
}

.sidebar {
    background-color: #3C3C43;
    position: fixed;
    min-height: 100%;
}

.sidebar ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.sidebar li {
    padding: 1rem 1rem;
    border-top: 1px solid rgba(255, 255, 255, .1);
}

.sidebar li a {
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
    padding: 14px 20px 14px 25px;
}

.nav > li > a i {
    margin-right: 6px;
}

.subnav > li > a {
    padding: 7px 10px 7px 10px;
    padding-left: 52px;
}

.nav__profile {
    background: #FF5A52;
    text-align: center;
    color: #FFF;
}

.nav__profile h1 {
    font-size: 12px;
    font-weight: normal;
    overflow: hidden;
}

.nav__profile h2 {
    font-size: 14px;
}

.nav__copyright {
    color: #FFF;
    text-align: center;
}

.nav__copyright a {
    padding: 13px !important;
    display: inline-block;
}

header {
    padding: 15px;
    min-height: 90px;
    background: #FF4411;
    color: #FFF;
    text-align: center;
}

header img {
    margin: 0 auto
}


/*
* BOOTSTRAP *
*/

#container__spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    color: #FF5A4E;
}

.spinner__icon {
    margin: auto auto 5px;
}

.spinner__txt {
    margin: 5px auto auto;
}


/*
* LOGIN *
*/

.login {
    padding: 40px 0;
    text-align: center;
    height: auto;
}

.login form {
    margin-top: 20px;
}

form .form-control:focus {
    border-color: #FF4411 !important;
    box-shadow: none;
}

.login h2 {
    margin-top: 20px;
    color: #FFF;
    text-align: center;
}

.login .btn {
    margin-bottom: 15px;
    width: 100%;
    border: 1px solid #FF4411;
    background-color: #FF4411;
    color: #FFFFFF;
    font-size: 18px;
}

.login__img {
    width: 200px;
    height: 200px;
}

.login__error {
    color: #FF5A4E;
    letter-spacing: 1px;
    margin: 10px;
    font-size: 18px;
}


/*
* PROJETS *
*/


#project__content {
    margin: 50px 0;
}

#Team__content .card,
#project__content .card {
    margin: 0.5rem 0 1rem 0;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#project__content .card__img img {
    display: block;
    border-radius: 2px 2px 0 0;
    width: 100%;
}

#project__content .card__content {
    padding: 20px;
    border-radius: 0 0 2px 2px;
}

#project__content .card__title {
    display: block;
    color: #E5554B;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 48px;
}

#project__content .card__date {
    color: #888;
    letter-spacing: 1px;
}

#Team__content .card__action,
#project__content .card__action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 20px;
    text-align: center;
}

#project__content .card__action .btn {
    margin: 0 5px;
}


/*
* TEAMS
*/

user-index .btn-floating,
project-index .btn-floating{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 20px;
}

#Team__content .card__img {
    text-align: center;
}

#Team__content button {
    background: transparent;
    color: #FF5A4E !important;
    border: 1px solid;
}

#Team__content button:hover {
    box-shadow: none;
    color: #FF5A4E !important;
}

#Team__content .card__img img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    padding: 20px 0;
}

#Team__content .card__content {
    padding: 0;
}

table {
    width: 100%;
}

tr {
    display: block;
    border-bottom: 1px solid #e7e7e7;
}

td {
    min-width: 10vw;
    text-align: center;
    line-height: 50px;
}

td:nth-child(2) {
    color: #FF5A4E;
    padding: 0 10px;
}


/*
* FOOTER *
*/

footer {
    padding-bottom: 20px;
    color: #000;
    text-align: center;
    font-size: 18px;
}

.footer__language {
    margin-bottom: 20px;
    padding-bottom: 8px;
    outline: none;
    border: none;
    border-bottom: 1px solid #FF4411;
    color: #777;
    font-size: 16px;
    cursor: pointer;
}

.footer__social {
    margin-bottom: 15px;
    font-size: 16px;
    margin-right: 20px;
}

.footer__social a {
    color: #FF4411;
}

.footer__social a:hover {
    color: #FF4411;
}

.footer__copyright {
    color: #666;
    font-size: 14px;
}

.footer__copyright a {
    text-decoration: none;
    color: #666;
}

.footer__copyright a:hover {
    color: #FF4411;
    text-decoration: none;
}

.col-3,
.col-lg-4 {
    padding: 15px;
}


/*
* RESPONSIVE
*/

@media screen and (min-width: 480px) {
    .login {
        margin: 40px auto;
        max-width: 500px;
        width: 400px;
    }
}

@media screen and (max-width:480px) {
    header h1 {
        text-align: center;
        margin-left: inherit;
    }
    .login {
        width: 50vw;
        margin: 0 auto;
    }
    .login__img {
        width: 100px;
        height: 100px;
    }
}

@media (min-width: 768px) {
    .sidebar {
        width: 220px;
        height: 100%;
        /*position: fixed;
        top: 0;
        left: 0;
        bottom: 0;*/
    }
    .col-3 {
        width: 25%;
        display: inline-block;
    }
}

@media screen and (max-width:768px) {
    header h1 {
        text-align: center;
        margin-left: inherit;
    }
}

@media only screen and (max-width:970px) {
    header h1 {
        text-align: center;
        margin-left: inherit;
    }
}

@media (min-width: 1200px) {
    .col-lg-4 {
        width: 33.33333333%;
        float: left;
    }
}
