body,
html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
    color: #000;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 26px;
}

home {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    align-items: stretch;
}

.row {
    margin: 0 !important;
}

.hidden {
    display: none;
}

.img__circle {
    border-radius: 50%;
}

.title {
    padding: 0 10px 20px 10px;
    font-weight: 100;
    font-size: 24px;
}

.btn {
    padding: 6px 12px;
    background-color: #FF4411;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #FFF;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

input[type=date],
input[type=text],
input[type=email],
input[type=password],
textarea {
    border: none;
    border-bottom: 1px solid #9e9e9e;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 15px 0;
    padding: 0;
}

textarea {
    overflow-y: hidden;
    resize: none;
    min-height: 3rem;
}

.btn:hover,
.btn:focus,
.btn:active {
    outline: none;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    color: #FFF !important;
    text-decoration: none;
}


/*
* CONTAINER GLOBALE*
*/

.wrap {
    position: relative;
    padding: 0 15px;
    width: 100%;
    height: auto;
}

.container {
    display: block;
    margin-top: 3rem;
    padding: 6px 12px;
    text-align: center;
}


/*
* HEADER *
*/

#sidebar {
    flex: 0 0 217px;
}

.sidebar {
    background-color: #3C3C43;
    position: fixed;
    min-height: 100%;
}

.sidebar ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.sidebar li {
    padding: 1rem 1rem;
    border-top: 1px solid rgba(255, 255, 255, .1);
}

.sidebar li a {
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
    padding: 14px 20px 14px 25px;
}

.nav > li > a i {
    margin-right: 6px;
}

.subnav > li > a {
    padding: 7px 10px 7px 10px;
    padding-left: 52px;
}

.nav__profile {
    background: #FF5A52;
    text-align: center;
    color: #FFF;
}

.nav__profile h1 {
    font-size: 12px;
    font-weight: normal;
    overflow: hidden;
}

.nav__profile h2 {
    font-size: 14px;
}

.nav__copyright {
    color: #FFF;
    text-align: center;
}
.nav__copyright a {
    padding: 13px !important;
    display: inline-block;
}

header {
    padding: 15px;
    min-height: 90px;
    background: #FF4411;
    color: #FFF;
    text-align: center;
}

header img {
    margin: 0 auto
}


/*
* LOGIN *
*/

.login {
    padding: 40px 0;
    text-align: center;
    height: auto;
}

.login form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 30px;
}

form .form-control:focus {
    border-color: #FF4411 !important;
    box-shadow: none;
}

.login h2 {
    text-align: center;
    margin-top: 20px;
}

.login .btn {
    margin-bottom: 15px;
    width: 100%;
    border: 1px solid #FF4411;
    border-radius: inherit;
    background-color: #FF4411;
    color: #FFFFFF;
    font-size: 18px;
}


/*
* PROJETS *
*/

.project__header {
    padding: 20px 15px;
    border-bottom: 1px solid #777;
}

.project__header h2 {
    float: left;
    color: #FF4411;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 16px;
    line-height: 5px;
}

.project__header-actions {
    display: block;
    float: none;
    margin-top: 0;
    padding: 0;
    text-align: right;
}

#project__content {
    margin: 50px 0;
}

#Team__content .card,
#project__content .card {
    margin: 0.5rem 0 1rem 0;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#project__content .card__img img {
    display: block;
    border-radius: 2px 2px 0 0;
    width: 100%;
}

#project__content .card__content {
    padding: 20px;
    border-radius: 0 0 2px 2px;
}

#project__content .card__title {
    display: block;
    color: #E5554B;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 48px;
}

#project__content .card__date {
    color: #888;
    letter-spacing: 1px;
}

#Team__content .card__action,
#project__content .card__action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 20px;
    text-align: center;
}

#project__content .card__action .btn {
    margin: 0 5px;
}


/*
* TEAMS
*/

#Team__content .card__img {
    text-align: center;
}

#Team__content .card__img img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: 20px 0;
}

#Team__content .card__content {
    padding: 0;
}

#Team__content .card__title {
    text-align: center;
    display: block;
    color: #E5554B;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#Team__content .card__date {
    text-align: center;
    display: block;
    font-size: 14px;
    color: #3C3C43;
}


/*
* FOOTER *
*/

footer {
    padding-bottom: 20px;
    color: #000;
    text-align: center;
    font-size: 18px;
}

.footer__language {
    margin-bottom: 20px;
    padding-bottom: 8px;
    outline: none;
    border: none;
    border-bottom: 1px solid #FF4411;
    color: #777;
    font-size: 16px;
    cursor: pointer;
}

.footer__social {
    margin-bottom: 15px;
    font-size: 16px;
    margin-right: 20px;
}

.footer__social a {
    color: #FF4411;
}

.footer__social a:hover {
    color: #FF4411;
}

.footer__copyright {
    color: #666;
    font-size: 14px;
}

.footer__copyright a {
    text-decoration: none;
    color: #666;
}

.footer__copyright a:hover {
    color: #FF4411;
    text-decoration: none;
}

.col-3,
.col-lg-4 {
    padding: 15px;
}


/*
* RESPONSIVE
*/

@media screen and (min-width: 480px) {
    .login {
        margin: 40px auto;
        max-width: 500px;
        width: 400px;
    }
}

@media screen and (max-width:480px) {
    header h1 {
        text-align: center;
        margin-left: inherit;
    }
}

@media (min-width: 768px) {
    .sidebar {
        width: 220px;
        height: 100%;
        /*position: fixed;
        top: 0;
        left: 0;
        bottom: 0;*/
    }
    .col-3 {
        width: 25%;
        display: inline-block;
    }
}

@media screen and (max-width:768px) {
    header h1 {
        text-align: center;
        margin-left: inherit;
    }
}

@media only screen and (max-width:970px) {
    header h1 {
        text-align: center;
        margin-left: inherit;
    }
}

@media (min-width: 1200px) {
    .col-lg-4 {
        width: 33.33333333%;
        float: left;
    }
}