<div class="login">
    <form (ngSubmit)="onSubmit()">
        <md-card>
            <img class="login__img" src="assets/img/C.png" alt="Clamarque">
            <md-input [(ngModel)]="email" name="email" type="email" placeholder="First name" required></md-input>
            <md-input [(ngModel)]="password" name="password" type="password" placeholder="Password" required></md-input>
            <button md-raised-button color="primary" type="submit">{{'login.btn' | translate}}</button>
            <div class="login__error">{{msg}}</div>
            <a [routerLink]="['Reset-password']">Forgot password ?</a>
        </md-card>
    </form>
</div>