<div class="row">
    <div class="cl-title">
        <h2>{{'project.title-create' | translate}}</h2>
    </div>
    <form role="form" (ngSubmit)="createMission(name.value, description.value,date.value, collaborator.value)">
        <div class="field">
            <input class="field-input" type="text" #name placeholder="{{'project.form-name' | translate}}" required>
        </div>
        <div class="field">
            <textarea class="field-input" #description rows="3" colomns="3" placeholder="{{'project.form-description' | translate}}"></textarea>
        </div>
        <div class="field">
            <input class="field-input" type="date" #date required>
        </div>
        <div class="field">
            <select class="field-input" #collaborator>
                    <option value="" disabled="" selected="">Consultant</option>
                    <option *ngFor="let collaborator of list_collaborators" value="{{collaborator.username}}">{{collaborator.username}}</option>
                </select>
        </div>
        <button class="btn" type="submit">{{'generic.btn-save' | translate}}</button>
    </form>
</div>