<div class="row">
    <form (ngSubmit)="onSubmit()">
        <md-checkbox type="checkbox" [(ngModel)]="mission.active" name="active">
            <label>Is Active</label>
        </md-checkbox>
        <md-input type="text" placeholder="Name mission" [(ngModel)]="mission.name" name="name" required></md-input>
        <md-input type="text" placeholder="Description mission" [(ngModel)]="mission.description" name="description"></md-input>
        <div class="field">
            <input class="field-input" type="date" required [(ngModel)]="mission.dateStart" name="dateStart">
        </div>
        <div class="field">
            <input class="field-input" type="date" required [(ngModel)]="mission.dateEnd" name="dateEnd">
        </div>
        <div class="field">
            <select class="field-input" [(ngModel)]="mission.collaborator" name="collaborator">
                    <option [value]="mission.collaborator" disabled="" selected="">Consultant</option>
                    <option *ngFor="let collaborator of list_collaborators" value="{{collaborator.username}}">{{collaborator.username}}</option>
                </select>
        </div>
        <button md-raised-button color="primary" type="submit">{{'generic.btn-save' | translate}}</button>
        <button md-raised-button type="button" (click)="cancel()">{{'generic.btn-cancel' | translate}}</button>
    </form>
</div>