<div class="row">
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>name</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let role of list_roles; let i=index">
                <td>{{i}}</td>
                <td>{{role.name}}</td>
                <td>
                    <button (click)="deleteRole(role)"><i class="material-icons">clear</i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <button md-fab [routerLink]="['../CreateRole']"><i class="material-icons">add</i></button>
</div>