<div class="container">

    <h2>New project</h2>



    <form class="form-horizontal" role="form" (ngSubmit)="CreateProject(name.value, description.value)">
        <div class="form-group">
            <label class="control-label" for="Name">Name:</label>
            <input type="text" #name class="form-control" placeholder="Name" required>
        </div>
        <div class="form-group">
            <label class="control-label" for="description">Description:</label>
            <textarea #description class="form-control" rows="3" colomns="3" id="description"></textarea>
        </div>
        <button class="btn" type="submit">Valider</button>
    </form>
</div>