<div class="container">
    <div class="row">
        <h2 class="title">{{'project.title' | translate}}</h2>
    </div>
    <div class="project__header">
        <h5>{{'project.subtitle' | translate}}</h5>
        <div class="project__header-actions">
            <a [routerLink]="['NewProjet']" class="btn">{{'project.new' | translate}}</a>
        </div>
    </div>
    <div id="project-list">
        <table class="table table-hover" *ngFor="let project of projects_list">
            <tbody>
                <tr>
                    <td class="project__status">
                        <span class="btn">Active</span>
                    </td>
                    <td class="project__title">
                        <a>{{project.name}}</a>
                        <br>
                        <small>Created 14.08.2014</small>
                    </td>
                    <td class="project__completion">
                        <small>{{project.description}}</small>
                    </td>
                    <td class="project__member">
                        <a href=""><img alt="image" class="img-circle" src="assets/img/profil.jpg"></a>
                        <a href=""><img alt="image" class="img-circle" src="assets/img/profil.jpg"></a>
                        <a href=""><img alt="image" class="img-circle" src="assets/img/profil.jpg"></a>
                        <a href=""><img alt="image" class="img-circle" src="assets/img/profil.jpg"></a>
                        <a href=""><img alt="image" class="img-circle" src="assets/img/profil.jpg"></a>
                    </td>
                    <td class="project__actions">
                        <a (click)="ViewProject(project)" class="btn"><i class="fa fa-folder"></i> View </a>
                        <a href="#" class="btn"><i class="fa fa-pencil"></i> Edit </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>