<div class="row">
    <div class="cl-title">
        <h2>Dashboard</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-4">
        <div class="dashboard-stats__item bg-pink">
            <i class="fa fa-user" aria-hidden="true"></i>
            <h3 class="dashboard-stats__title">
                <span>{{customersCount}}</span> 
                <small>Customers</small>
              </h3>
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="dashboard-stats__item bg-pink">
            <i class="fa fa-users" aria-hidden="true"></i>
            <h3 class="dashboard-stats__title">
                <span>{{usersCount}}</span> 
                <small>Users</small>
              </h3>
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="dashboard-stats__item bg-pink">
            <i class="fa fa-folder-open" aria-hidden="true"></i>
            <h3 class="dashboard-stats__title">
                <span>{{projectsCount}}</span> 
                <small>Projects</small>
              </h3>
        </div>
    </div>
</div>