<div class="row">
    <div class="cl-title">
        <h2>Dashboard</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-8">
        <div class="cl-home__item ">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <h3>
                <span>{{date | date:'dd MM yy HH:mm'}}</span> 
              </h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-3">
        <div class="cl-home__item">
            <i class="fa fa-user" aria-hidden="true"></i>
            <h3>
                <span>{{customersCount}}</span> 
                <small>Customers</small>
              </h3>
        </div>
    </div>
    <div class="col-xs-12 col-md-3">
        <div class="cl-home__item">
            <i class="fa fa-users" aria-hidden="true"></i>
            <h3>
                <span>{{usersCount}}</span> 
                <small>Consultants</small>
              </h3>
        </div>
    </div>
    <div class="col-xs-12 col-md-3">
        <div class="cl-home__item">
            <i class="fa fa-folder-open" aria-hidden="true"></i>
            <h3>
                <span>{{missionsCount}}</span> 
                <small>Missions</small>
              </h3>
        </div>
    </div>
    <div class="col-xs-12 col-md-3">
        <div class="cl-home__item">
            <i class="fa fa-list" aria-hidden="true"></i>
            <h3>
                <span>{{skillsCount}}</span> 
                <small>Skills</small>
              </h3>
        </div>
    </div>
</div>