<div class="row">
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let skill of list_skills; let i=index">
                <td>{{i}}</td>
                <td>{{skill.name}}</td>
                <td>
                    <a [routerLink]="['/Home/DetailSkill', skill.id]"><i class="material-icons">mode_edit</i></a>
                </td>
                <td>
                    <button (click)="deleteData(skill)"><i class="material-icons">clear</i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <button md-fab [routerLink]="['../CreateSkill']"><i class="material-icons">add</i></button>
</div>