<div class="row">
    <div class="cl-title">
        <h2>Create a collaborator</h2>
    </div>
    <form role="form">
        <div class="field">
            <input class="field-input" [(ngModel)]="list_infosUser.first" type="text" placeholder="Firstname" required>
        </div>
        <div class="field">
            <input class="field-input" [(ngModel)]="list_infosUser.last" type="text" placeholder="Lastname" required>
        </div>
        <div class="field">
            <input class="field-input" [(ngModel)]="list_infosUser.username" type="text" placeholder="username" required>
        </div>
        <div class="field">
            <select class="field-input" [(ngModel)]="list_infosUser.role">
                <option value="" disabled="" selected="">Role</option>
                <option *ngFor="let role of list_roles" value="{{role.name}}">{{role.name}}</option>
            </select>
        </div>
        <div class="field">
            <input class="field-input" [(ngModel)]="list_infosUser.email" type="email" placeholder="email" required>
        </div>
        <div class="field">
            <input class="field-input" [(ngModel)]="list_infosUser.password" type="password" placeholder="password" required>
        </div>
        <button class="btn" type="submit" (click)="onClickCreate()">
            <i class="fa fa-user-plus" aria-hidden="true"></i><span class="fa-icon-label"> Create Account</span>
        </button>
    </form>
</div>