<div class="row">
    <div class="cl-title">
        <h2>Customers</h2>
    </div>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Project</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of list_customers">
                <td><img class="img__circle" src="https://robohash.org/+{{customer.name}}+.png"></td>
                <td>{{customer.name}}</td>
                <td>{{customer.project}}</td>
                <td>
                    <a [routerLink]="['/Home/ViewCustomer', customer.id]"><i class="fa fa-pencil fa-1x" aria-hidden="true"></i></a>
                </td>
                <td>
                    <button (click)="deleteCustomer(customer)"><i class="fa fa-times fa-1x" aria-hidden="true"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <a class="btn-floating wave-effect" [routerLink]="['../CreateCustomer']">+</a>
</div>