<div class="row">
    <div class="cl-title">
        <h2>Create a skill</h2>
    </div>
    <form class="form-horizontal" role="form" (ngSubmit)="createUser(name.value, role.value)">
        <div class="field">
            <input class="field-input" type="text" #name placeholder="Name" required>
        </div>
        <div class="field">
            <input class="field-input" type="text" #role placeholder="Environment" required>
        </div>
        <button class="btn" type="submit">save</button>
    </form>
</div>