<div class="row">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Mission</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of list_customers">
                <td><img class="img__circle" src="https://robohash.org/+{{customer.name}}+.png"></td>
                <td>{{customer.name}}</td>
                <td>{{customer.mission}}</td>
                <td>
                    <a [routerLink]="['/Home/DetailCustomer', customer.id]"><i class="material-icons">mode_edit</i></a>
                </td>
                <td>
                    <button (click)="deleteCustomer(customer)"><i class="material-icons">clear</i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <button md-fab [routerLink]="['../CreateCustomer']"><i class="material-icons">add</i></button>
</div>